#grid {
grid-template-columns: auto auto auto;
    justify-content: space-around;
    display: grid;
}

.box {
    border: 10px solid black;
    border-radius: 10%;
    width: 30vmax;
    height: 30vmax;
   margin: 1%;
  align-items: center;
    display: flex;
    flex-direction: column;
  
}

.box p {
    margin: 0px;
    height: 50%;
    font-weight: bold;
    font-size: 3vmax;
    font-family: Arial, Helvetica, sans-serif;
}
.box img{
    width: 60%;
    height: auto;
}
