#main {
   
    width: 80%;
    
}

.basetitle {
    border: 5px solid gainsboro;
    border-radius: 20%;
    background: gainsboro;
    
}

.title {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    font-size: 3vmax;
    text-align: center;
}

.content {
    font-size: x-large;
    font-weight: 300;
    text-align: justify;
    margin-left: 2vw;
    margin-right: 1vw;
}

#sidebar{
    position: fixed;
    right: 0px;
    background-color: gainsboro;
    width: 20%;
    top: 0px;
    height: 100%;
    word-wrap: break-word;
    overflow-x: auto;
    scrollbar-width: thin;

}

.minor {
    font-weight: bold;
}

.illus {
    margin: .1vw;
}

.container {
    display: flex;
    justify-content: space-around;
}

.link {
    color: gray;
}

.site {
    color: aqua;
}